<div class="page-header">
  <h1>Plays</h1>
</div>


<p><a href="/plays/new" class="btn btn-primary">Add a New Play</a></p>


<table class="table table-hover">
  <thead>
    <tr>

      <th>Event</th>

      <th>Player</th>

      <th>Play type</th>

      <th>Quarter play occured</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plays.each do |play| %>
      <tr>

        <td><%= play.event_id %></td>

        <td><%= play.player_id %></td>

        <td><%= play.play_type %></td>

        <td><%= play.quarter_play_occured %></td>


        <td>
          <a href="/plays/<%= play.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/plays/<%= play.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_play/<%= play.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

