<div class="page-header">
  <h1>Play #<%= @play.id %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Event</dt>
  <dd><%= @play.event_id %></dd>


  <dt>Player</dt>
  <dd><%= @play.player_id %></dd>


  <dt>Play type</dt>
  <dd><%= @play.play_type %></dd>


  <dt>Quarter play occured</dt>
  <dd><%= @play.quarter_play_occured %></dd>


</dl>
