<div class="page-header">
  <h1>Play Response #<%= @play_response.id %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Play</dt>
  <dd><%= @play_response.play_id %></dd>


  <dt>Player</dt>
  <dd><%= @play_response.player_id %></dd>


  <dt>User</dt>
  <dd><%= @play_response.user_id %></dd>


  <dt>Player responible</dt>
  <dd><%= @play_response.player_responible %></dd>


  <dt>Comment</dt>
  <dd><%= @play_response.comment %></dd>


</dl>
