<div class="page-header">
  <h1>Player Stats</h1>
</div>

<dl class="dl-horizontal">

  <dt>Player name</dt>
  <dd><%= @player.player_name %></dd>

  <dt></dt>
  <dd><img src="<%= @player.player_image %>" width="360"></dd>

</dl>

<table class="table table-hover">
<h3> TURNOVERS <h3>
  <thead>
    <tr>

      <th>Event Details</th>

      <th>Play Type</th>

      <th>Play ID</th>

      <th>Player Responsible</th>

      <th>Comments</th>

    </tr>
  </thead>

  <tbody>
    <% @turnovers.each do |play| %>
      <tr>

        <td>
            <%= play.event.game_time.strftime("%l:%M%p EST") %>
            <%= play.event.date.strftime("%b %e, %Y") %>
        </td>

        <td><%= play.play_type %></td>

        <% play.play_responses.each do |play_response| %>
          <td> <%= play_response.play_id %> </td>
          <td> <%= play_response.player_responible %> </td>
          <td> <%= play_response.comment %> </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<table class="table table-hover">
<h3> TOUCHDOWNS <h3>
  <thead>
    <tr>

      <th>Event Details</th>

      <th>Play Type</th>

      <th>Play ID</th>

      <th>Player Responsible</th>

      <th>Comments</th>

    </tr>
  </thead>

  <tbody>
    <% @touchdowns.each do |play| %>
      <tr>

        <td>
            <%= play.event.game_time.strftime("%l:%M%p EST") %>
            <%= play.event.date.strftime("%b %e, %Y") %>
        </td>

        <td><%= play.play_type %></td>

        <% play.play_responses.each do |play_response| %>
             <td><%= play_response.play_id %> </td>
             <td><%= play_response.player_responible %></td>
             <td><%= play_response.comment %></td>

      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
