<div class="page-header">
  <h1>Player #<%= @player.id %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Player name</dt>
  <dd><%= @player.player_name %></dd>


  <dt>Player team</dt>
  <dd><%= @player.player_team %></dd>


  <dt>Player image</dt>
  <dd><%= @player.player_image %></dd>


</dl>

<% @turnovers.each do |play| %>
  <%= play.event.game_time.strftime("%l:%M%p EST") %>
  <%= play.event.date.strftime("%b %e, %Y") %>

    <% play.play_responses.each do |play_response| %>

      <p> <%= play_response.comment %> </p>

    <% end %>

  <% end %>


<% @touchdowns.each do |play| %>
  <%= play.event.game_time.strftime("%l:%M%p EST") %>
  <%= play.event.date.strftime("%b %e, %Y") %>

    <% play.play_responses.each do |play_response| %>

      <p> <%= play_response.comment %> </p>

    <% end %>

  <% end %>
